@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-darkgreen: #0d4a2f;
  --color-gold:       #d4af37;
  --color-gold-light: #f5d86e;
  --color-darkgrey:  #2e2d2d;
  --color-offwhite:  #ede6d2;
}

@layer base {
  body {
    font-family: "Playfair Display", Georgia, serif;
    overflow-x: hidden;
    letter-spacing: 0.115rem;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }
}